<div id="<%= dom_id pizza %>">
  <p>
    <strong>Name:</strong>
    <%= pizza.name %>
  </p>

  <% if pizza.sizes.present? %>
    <%pizza.sizes.each do |size|%>

      <%= size.name%>
      <%=size.price%>
    <%end%>
  <%end%>

  <% if pizza.ingredients.present? %>
    <%pizza.ingredients.each do |ingredient|%>
      
      <%= ingredient.name%>
    <%end%>
  <%end%>

</div>
