<p style="color: green"><%= notice %></p>

<%= render @pizza %>

<div>
  <%= link_to "Edit this pizza", edit_pizza_path(@pizza) %> |
  <%= link_to "Back to pizzas", pizzas_path %>

  <%= button_to "Destroy this pizza", @pizza, method: :delete %>
</div>
